<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{.Title}}</title>
    {{ template "inc/frontend_head" . }}
</head>

<body>
    <div id="layout" class="pure-g">
        {{ template "inc/frontend_side" . }}
        <div class="content pure-u-1 pure-u-md-3-4">
            <div>
                <!-- A wrapper for all the blog posts -->
                <div class="posts">
                    <h1 class="content-subhead">Archive Posts</h1>
                    <ul>
                        {{range $item := .List}}
                        <li style="line-height: 30px;">
                            <a href="/article/{{$item.Url}}.html">{{$item.Title}}</a>
                            {{range $tag := $item.TagsArray}}
                            <a class="post-category" href="/tag/{{$tag}}">{{$tag}}</a>
                            {{end}}
                            <span class="post-meta">
                                {{$item.CreatedReadable}}
                            </span>
                            {{if $.Login}}<a href="/backend/article/{{$item.Id}}/editor">Edit</a>{{end}}
                        </li>
                        {{end}}
                    </ul>
                </div>
                {{ template "inc/frontend_footer" . }}
            </div>
        </div>
    </div>
</body>

</html>