<div class="backend-width">
    <div class="login-bar">
        &nbsp;
        <div class="pull-right">
            <a href="/">Home</a>
            <span class="cut-line"></span>
            <a href="/auth/logout">Logout</a>
        </div>
    </div>
    <div class="pure-menu pure-menu-horizontal mt20">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/backend/" class="pure-menu-link">Write blog</a></li>
            <li class="pure-menu-item"><a href="/backend/drafts" class="pure-menu-link pure-menu-selected">Drafts</a></li>
            <li class="pure-menu-item"><a href="/backend/about" class="pure-menu-link">About me</a></li>
        </ul>
    </div>
    <hr>
</div>
