<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/pure-0.6.0/pure-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/pure-0.6.0/grids-responsive-old-ie-min.css">
<![endif]-->
<link rel="stylesheet" href="/css/pure-0.6.0/grids-responsive-min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="/css/blog-old-ie.css">
<![endif]-->
<!--[if gt IE 8]><!-->
<link rel="stylesheet" href="/css/blog.css">
<!--<![endif]-->
<link rel="stylesheet" href="/css/pagination.css">
<link rel="stylesheet" href="/css/markdown.css">